version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: lms-backend
    environment:
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
    depends_on:
      - mongo
    networks:
      - web
    restart: unless-stopped
    expose:
      - "8002"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: lms-frontend
    networks:
      - web
    restart: unless-stopped
    expose:
      - "80"

  mongo:
    image: mongo:6.0
    container_name: lms-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
    networks:
      - web
    # NO ports

volumes:
  mongo-data:

networks:
  web:
    external: true
